@font-face {
    font-family: GalaxieCopernicus;
    src: url(/fonts/GalaxieCopernicus-Book.otf);
}

@font-face {
    font-family: Inter;
    src: url(/fonts/Inter-VariableFont_slnt\,wght.ttf);
}


$body-color: #F2EFEE;
$blue-color : #003A92;
$black-color: #3C3C3C;
$white: #ffffff;
$secondary-color: #74788A;
$red: #8c2531;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $body-color;
    position: relative;
    max-width: 1680px;
    margin: 0 auto;
}

ul li,
a {
    text-decoration: none;
    list-style: none;
}

img {
    max-width: 100%;
}

header {
    position: relative;

    .nav-top {
        position: relative;
        width: 100%;
        height: 60px;
        left: 0px;
        top: 0px;

        .social-icons {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 20px;
            padding-right: 120px;
            height: 100%;


            img {
                filter: brightness(40%);
                cursor: pointer;
            }
        }
    }

    .navbar {
        position: relative;
        width: calc(100% - 60px);
        background-color: $white;
        left: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 60px 120px 40px 60px;
    }

    .sticky {
        position: fixed;
        top: 0;
        z-index: 5;
    }

    .logo img {
        width: 150px;
    }



    .navbar ul {
        display: flex;
        gap: 50px;

        li a {
            font-size: 14px;
            font-weight: 400;
            text-transform: capitalize;
            line-height: 20px;
            letter-spacing: 2%;
            color: $black-color;
            font-family: 'Inter', sans-serif;
        }
    }

    .toggle-btn {
        display: none;
    }

    @media (max-width: 768px) {
        .navbar ul {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 60px;
            left: 0;
            background-color: #333;
            width: 100%;
            text-align: center;
        }

        .navbar.active ul {
            display: block;
        }

        .navbar a {
            display: block;
            margin: 0;
            color: #fff;
            background-image: url(./image/XS/Icon/Burger.svg);
        }

        .toggle-btn {
            display: block;
            position: relative;
            z-index: 10;
            right: 10px;
            top: 10px;
            background-image: url(./image/XS/Icon/Burger.svg);
        }

        .navbar.active {
            background-color: $blue-color;
        }

        .active .toggle-btn {
            background-image: url(./image/XS/Nav/Icon/Close@2x.png);
            color: #333;
        }

    }
}

@media (max-width: 600px) {
    .navbar ul {
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: lightgray;
        height: calc(100% - 60px);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        .navbar a {
            padding: 20px;
        }

    }

    #menu-icon {
        display: block;
    }
}

@media (max-width: 380px) {
    header {

        .nav-top {
            height: 56px;

            .social-icons {
                padding-right: 32px;
            }
        }

        .navbar {
            width: calc(100% - 16px);
            left: 16px;
            padding: 36px 32px 36px 16px;

            .logo img {
                width: 105px;
            }
        }
    }

    .nav-top {
        height: 56px;
    }
}



// Hero Section

.hero {
    position: relative;
    background-color: $white;
    width: calc(100% - 60px);
    left: 60px;
    padding: 50px 120px 50px 60px;
    margin-bottom: 280px;
    padding-bottom: 25%;

    .hero-text {
        display: flex;
        padding: 20px 0 40px 0;
        align-items: flex-end;
        justify-content: space-between;

        p {
            font-family: 'GalaxieCopernicus', sans-serif;
            font-weight: 400;
            font-size: 64px;
            line-height: 70px;
            letter-spacing: -0.02em;
            color: $blue-color;
            width: 70%;
        }

        .button {
            width: 20%;
            border: 1px solid $secondary-color;
            padding: 4px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 64px;
            width: 214px;
            border-radius: 2px;

            img {
                border-left: 1px solid $secondary-color;
                padding: 24px;
            }

            span {
                padding: 24px;
                font-family: 'Inter', sans-serif;
                font-weight: 700;
                font-size: 18px;
                line-height: 18px;
                color: $black-color;
            }
        }

    }

    figure {
        position: absolute;
        width: calc(100% - 120px);
        left: 120px;
        right: 0;
        height: 565px;

        img {
            width: 100%;
            height: 100%;
        }
    }
}



#menu-icon {
    display: none;
}

@media (max-width: 380px) {
    .hero {
        width: calc(100% - 16px);
        left: 16px;
        padding: 20px 32px 32px 16px;
        margin-bottom: 200px;

        .hero-text {
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;


            p {
                font-size: 32px;
                line-height: 1.1;
                letter-spacing: -0.64px;
                width: 100%;
            }

            .button {
                width: 140px;
                height: 40px;

                span {
                    font-size: 14px;
                    line-height: 1;
                    letter-spacing: 0.28px;
                    padding: 10px;
                }

                img {
                    padding: 12px;
                }
            }
        }

        figure {
            width: calc(100% - 16px);
            left: 16px;
            height: 190px;
        }
    }
}



// NEWS
.news {
    display: flex;
    padding: 60px 120px;
    flex-direction: column;


    .news-container {
        display: flex;

        h2 {
            font-size: 24px;
            color: $blue-color;
            font-family: 'Inter', sans-serif;
            font-weight: 600;
            letter-spacing: 1.2px;
            line-height: 24px;
        }

        .single-news {
            padding: 40px;
            margin: 50px 0;
            border: 1px solid $white;

            figcaption {
                flex-grow: 0;
                margin: 16px 1px 0 0;
                font-family: GalaxieCopernicus;
                font-size: 44px;
                line-height: 1.2;
                letter-spacing: -0.88px;
                text-align: left;
                color: #3c3c3c;
            }
        }

        .view-more {
            display: flex;
            gap: 20px;

            a {
                font-family: 'Inter', sans-serif;
                font-size: 18px;
                font-weight: 600;
                letter-spacing: 0.36px;
                color: $black-color;
            }

            img {
                margin-top: 4px;
            }
        }
    }


    .date {
        display: flex;
        gap: 40px;
        margin: 14px 0;
        color: $secondary-color;
        font-family: Inter;
        font-size: 14px;
        font-weight: 600;
        line-height: 1;
        letter-spacing: 0.7px;
    }

    .grid-news {
        display: grid;
        grid-template-columns: repeat(1fr, 2);
        grid-template-rows: repeat(1fr, 2);
        grid-column-gap: 0px;
        grid-row-gap: 0px;


        .card {
            padding: 40px;
            border: 1px solid $white;

            figcaption {
                font-family: GalaxieCopernicus;
                letter-spacing: -0.64px;
                text-align: left;
                color: $black-color;
            }
        }

        .div1 {
            grid-area: 1 / 1 / 2 / 3;

            figcaption {
                margin: 16px 53px 0 0;
                font-size: 32px;
                line-height: 1.2;
            }
        }

        .div2 {
            grid-area: 2 / 1 / 3 / 2;

            figcaption {
                font-size: 18px;
                line-height: 1.4;
            }
        }

        .div3 {
            grid-area: 2 / 2 / 3 / 3;

            figcaption {
                font-size: 18px;
                line-height: 1.4;
            }
        }

    }
}

// * {
//     border: 1px solid red;
// }

@media (max-width: 380px) {
    .news {
        padding: 16px 0 16px 32px;
        flex-direction: column;

        .news-container {
            display: flex;
            margin: 16px 0;
            overflow-x: scroll;

            .card {
                padding: 16px;
                margin: 0;
                min-width: 256px;

                figure img {
                    height: 140px;
                    width: 100%;
                    width: 224px;
                    object-fit: cover;
                }

                figcaption {
                    font-size: 20px;
                    line-height: 1.2;
                    letter-spacing: -0.4px;
                    margin: 0;
                }
            }

            .date {
                font-size: 10px;
            }
        }

        .grid-news {
            display: flex;
        }
    }
}


// mission section
.mission {
    padding: 60px 60px 60px 0;
    position: relative;
    margin-bottom: -300px;

    .mission-text {
        background-color: $red;
        padding: 60px 120px 26% 120px;
        color: $white;
        font-family: 'GalaxieCopernicus', sans-serif;



        line-height: 1.2;
        letter-spacing: -0.88px;

        span {
            text-transform: uppercase;
            font-family: 'Inter', sans-serif;
            line-height: 1;
            font-weight: 600;
            letter-spacing: 1.2px;
        }

        h2 {
            max-width: 780px;
            margin: 32px 0 20px;
            font-size: 44px;
        }

        p {
            margin: 20px 210px 0 0;
            line-height: 1.4;
            font-size: 18px;
            max-width: 780px;
            opacity: .8;
        }
    }

    .mission-image {
        position: relative;
        top: -300px;
    }
}

@media (max-width: 380px) {

    .mission {
        padding: 16px 16px 16px 0;
        position: relative;
        margin-bottom: -60px;

        .mission-text {
            padding: 16px 32px 26% 32px;

            h2 {
                font-size: 24px;
                line-height: 1.2;
                letter-spacing: -0.48px;
            }

            p {
                margin: 0;
            }
        }

        .mission-image {
            top: -60px;
            width: calc(100% - 16px);

            img {
                height: 192px;
                width: 100%;
                object-fit: cover;
            }
        }
    }

}

// beneficiaries section

.beneficiaries {
    padding: 80px 0 80px 120px;
    background-color: $white;

    h2 {
        text-transform: uppercase;
        font-family: Inter, sans-serif;
        font-size: 24px;
        font-weight: 700;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: 1.2px;
        text-align: left;
        color: #003a92;
        margin-bottom: 30px;

    }

    .card-wrapper {
        display: flex;
        justify-content: space-between;

        .card {
            width: auto;
            height: 497px;
            padding: 30px;


            &:nth-child(1) {
                padding-left: 0;
            }

            &:last-child {
                padding: 30px 0 30px 30px;
                width: fit-content;

                img {
                    height: 500px;
                }
            }

            figcaption {
                margin: 20px 0 0;
                font-family: GalaxieCopernicus;
                font-size: 18px;
                line-height: 1.4;
                letter-spacing: -0.18px;
                color: $black-color;
                max-width: 295px;
            }
        }
    }
}

@media (max-width: 380px) {
    .beneficiaries {
        margin-top: 30px;
        padding: 24px 0 24px 32px;

        h2 {
            font-size: 14px;
        }

        .card-wrapper {
            overflow-x: scroll;

            .card {
                padding: 16px;


                figure {
                    img {
                        min-width: 202px;
                    }

                    figcaption {
                        font-size: 14px;
                    }
                }
            }

            .card:last-child img {
                min-width: 60px;
                height: 360px;
            }
        }
    }
}

// founder section
.founder {
    background-color: $white;
    position: relative;

    .founder-text {
        background-color: #d7c3ae;
        padding: 80px 120px 22% 120px;
        text-transform: uppercase;
        color: $white;
    }

    .founder-img {
        margin-top: -350px;
        padding: 60px 60px 0 60px;

        figure {
            position: relative;

            figcaption {
                position: absolute;
                font-family: GalaxieCopernicus;
                font-size: 44px;
                line-height: 1.2;
                letter-spacing: -0.88px;
                text-align: left;
                color: #fff;
                bottom: 8%;
                width: 100%;
                padding: 60px;

                hr {
                    height: 1px;
                    opacity: .5;
                    background-color: #f2efee;
                    margin: 20px 0;
                }
            }
        }
    }
}

@media (max-width: 380px) {
    .founder {
        .founder-text {
            padding: 32px;
            padding-bottom: 64px;

            h2 {
                font-size: 14px;
            }
        }

        .founder-img {
            padding: 0 32px 32px 32px;
            margin-top: -40px;

            figure {
                img {
                    height: 175px;
                    width: 100%;
                    object-fit: cover;
                }

                figcaption {
                    font-size: 24px;
                    padding: 16px;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    height: 100%;
                    bottom: 0;

                    hr {
                        display: none;
                    }

                    span {
                        &:first-child {
                            position: relative;
                            top: 120px;
                        }
                    }
                }
            }
        }
    }
}

// gallery section
.gallery {
    padding: 60px 120px;
    background-color: $white;

    .img-wrapper {
        display: grid;
        grid-template-columns: repeat(1fr, 3);
        grid-template-rows: repeat(1fr, 3);

        .card {
            padding: 40px;
            border: solid 1px #f2efee;

            figcaption {
                margin: 12px 0 0;
                font-family: Inter, sans-serif;
                font-size: 14px;
                line-height: 1.4;
                letter-spacing: 0.28px;
                color: $secondary-color;
            }
        }

        .div1 {
            grid-area: 1 / 1 / 2 / 2;
            padding-bottom: 60px;
            font-family: Inter, sans-serif;
            font-size: 24px;
            font-weight: bold;
            line-height: 1;
            letter-spacing: 1.2px;
            color: $blue-color;
        }

        .div2 {
            grid-area: 2 / 1 / 4 / 2;
            margin-bottom: 44px;
        }

        .div3 {
            grid-area: 1 / 2 / 4 / 3;
        }

        .div4 {
            grid-area: 1 / 3 / 3 / 4;
        }

        .div5 {
            grid-area: 3 / 3 / 4 / 4;
        }
    }
}

@media (max-width: 380px) {
    .gallery {
        padding: 32px 0 32px 32px;
        position: relative;

        .img-wrapper {
            margin-top: 32px;
            display: flex;
            overflow-x: scroll;

            .div1 {
                position: absolute;
                top: 32px;
                left: 32px;

                h2 {
                    font-size: 14px;
                }
            }

            .card {
                padding: 16px;
                min-width: 256px;
                height: fit-content;
            }
        }
    }
}

// footer
footer {
    background-color: $black-color;
    padding: 60px 120px 30px;

    hr {
        border: 1px solid $secondary-color;
        outline: none;
        opacity: .5;
        margin: 20px 0;
    }

    .footer-logo {
        height: 200px;
    }

    .footer-link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0;
        padding-bottom: 50px;

        .quick-link {
            display: flex;
        }

        ul {
            display: flex;
            gap: 60px;
            flex-wrap: wrap;

            li a {
                color: $white;
                font-family: 'Inter', sans-serif;
                font-size: 14px;



                line-height: 1.4;
                letter-spacing: 0.28px;
            }
        }

        .social-icons {
            display: flex;
            gap: 30px;
        }
    }


    .footer-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $secondary-color;
        margin-top: 80px;
        margin-bottom: 10px;

        ul {
            display: flex;
            gap: 40px;

            li a {
                color: $secondary-color;
                font-weight: 500;
                font-family: 'Inter', sans-serif;
                font-size: 14px;
                line-height: 1.4;
                letter-spacing: 0.28px;
            }
        }
    }
}

@media (max-width: 380px) {
    footer {
        padding: 58px 32px 32px 32px;
        position: relative;

        .footer-link {
            gap: 85px;
            justify-content: start;

            .quick-link {
                gap: 85px;
            }

            ul {
                flex-wrap: wrap;
                gap: 20px;
                flex-direction: column;
            }

            .social-icons {
                position: absolute;
                right: 32px;
                top: 64px;
            }
        }

        .footer-bottom {
            flex-direction: column;
            gap: 32px;
            align-items: flex-start;

            ul {
                gap: 20px;
            }

            .copyright {
                padding-left: 8px;
                font-size: 12px;
            }
        }
    }
}