@font-face {
  font-family: GalaxieCopernicus;
  src: url(/fonts/GalaxieCopernicus-Book.otf);
}

@font-face {
  font-family: Inter;
  src: url(/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #F2EFEE;
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}

ul li,
a {
  text-decoration: none;
  list-style: none;
}

img {
  max-width: 100%;
}

header {
  position: relative;
}

header .nav-top {
  position: relative;
  width: 100%;
  height: 60px;
  left: 0px;
  top: 0px;
}

header .nav-top .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding-right: 120px;
  height: 100%;
}

header .nav-top .social-icons img {
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
  cursor: pointer;
}

header .navbar {
  position: relative;
  width: calc(100% - 60px);
  background-color: #ffffff;
  left: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 120px 40px 60px;
}

header .navbar.sticky {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  left: 0;
  padding-left: 120px;
}

header .logo img {
  width: 150px;
}

header .navbar .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

header .navbar .nav-items .active {
  color: #003A92;
}

header .navbar .nav-items li {
  padding: 20px 10px;
}

header .navbar .nav-items li a {
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 20px;
  letter-spacing: 2%;
  color: #3C3C3C;
  font-family: 'Inter', sans-serif;
}

header .navbar .nav-items li ul {
  position: absolute;
  width: 100%;
  top: 120px;
  background-color: #ffffff;
  padding: 32px;
  left: 0;
  z-index: 6;
  display: none;
  padding-left: auto;
}

header .toggle-btn {
  display: none;
}

@media (min-width: 1680px) {
  header .nav-top .social-icons {
    padding-right: 240px;
  }
  header .navbar {
    width: calc(100% - 120px);
    left: 120px;
    padding-right: 240px;
    padding-left: 120px;
  }
  header .navbar.sticky {
    padding-left: 240px;
  }
}

@media (max-width: 1680px) and (min-width: 1200px) {
  tag {
    padding: 120px;
  }
  header .nav-top .social-icons {
    padding-right: 120px;
  }
  header .navbar {
    width: calc(100% - 60px);
    left: 60px;
    padding-right: 120px;
    padding-left: 60px;
  }
  header .navbar.sticky {
    padding-left: 120px;
  }
}

@media (max-width: 1200px) and (min-width: 992px) {
  tag {
    padding: 88px;
  }
  header .nav-top .social-icons {
    padding-right: 88px;
  }
  header .navbar {
    width: calc(100% - 44px);
    left: 44px;
    padding-right: 88px;
    padding-left: 44px;
  }
  header .navbar.sticky {
    padding-left: 88px;
  }
}

@media (max-width: 992px) and (min-width: 786px) {
  tag {
    padding: 64px;
  }
  header .nav-top .social-icons {
    padding-right: 64px;
  }
  header .navbar {
    width: calc(100% - 32px);
    left: 32px;
    padding-right: 64px;
    padding-left: 32px;
  }
  header .navbar.sticky {
    padding-left: 64px;
  }
}

@media (max-width: 786px) and (min-width: 576px) {
  tag {
    padding: 48px;
  }
  header .nav-top .social-icons {
    padding-right: 48px;
  }
  header .navbar {
    width: calc(100% - 24px);
    left: 24px;
    padding-right: 48px;
    padding-left: 24px;
  }
  header .navbar.sticky {
    padding-left: 48px;
  }
}

@media (max-width: 768px) {
  header .navbar .nav-items li {
    display: none;
  }
  header .navbar .nav-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
  }
  header .active .nav-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0;
    position: absolute;
    left: 32px;
    width: calc(100% - 64px);
    padding-top: 60px;
  }
  header .active .nav-items li {
    display: block;
  }
  header .active .nav-items li a {
    color: #fff;
    border-top: 1px solid #fff;
    padding: 16px 0 20px 0;
    display: block;
  }
  header .active .nav-items ul {
    margin-bottom: 8px;
  }
  header .active .nav-items ul li a {
    border-top: 0px solid #fff;
    padding: 0 16px 12px 28px;
  }
  header .toggle-btn {
    display: block;
    z-index: 10;
    margin-top: -7px;
  }
  header .navbar.active {
    background-color: #003A92;
    height: 100vh;
    padding: 32px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    left: 0;
  }
  header .navbar.active .blue-logo {
    display: none;
  }
  header .navbar.active .white-logo {
    display: block;
  }
  header .navbar.active .close-icon {
    display: block;
  }
}

@media (max-width: 576px) {
  header .nav-top {
    height: 56px;
  }
  header .nav-top .social-icons {
    padding-right: 32px;
  }
  header .navbar {
    width: calc(100% - 16px);
    left: 16px;
    padding: 36px 32px 36px 16px;
  }
  header .navbar .logo img {
    width: 105px;
  }
  header .navbar .close-icon {
    display: none;
  }
  header .navbar.sticky {
    padding-left: 32px;
  }
  .nav-top {
    height: 56px;
  }
}

.hero {
  position: relative;
  background-color: #ffffff;
  width: calc(100% - 60px);
  left: 60px;
  padding: 50px 120px 50px 60px;
  margin-bottom: 280px;
  padding-bottom: 25%;
}

.hero .hero-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0 40px 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero .hero-text h1 {
  font-family: 'GalaxieCopernicus', sans-serif;
  font-weight: 500;
  font-size: 64px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  color: #003A92;
  width: 70%;
}

.hero .hero-text .button {
  width: 20%;
  border: 1px solid #74788A;
  padding: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 64px;
  width: 214px;
  border-radius: 2px;
}

.hero .hero-text .button img {
  border-left: 1px solid #74788A;
  padding: 24px;
}

.hero .hero-text .button span {
  padding: 24px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #3C3C3C;
}

.hero figure {
  position: absolute;
  width: calc(100% - 120px);
  left: 120px;
  right: 0;
  height: 565px;
}

.hero figure img {
  width: 100%;
  height: 100%;
}

@media (min-width: 1680px) {
  .hero {
    width: calc(100% - 120px);
    left: 120px;
    padding-right: 240px;
    padding-left: 120px;
  }
  .hero figure {
    width: calc(100% - 120px);
    left: 120px;
  }
}

@media (max-width: 1680px) and (min-width: 1200px) {
  .hero {
    width: calc(100% - 60px);
    left: 60px;
    padding-right: 120px;
    padding-left: 60px;
  }
  .hero figure {
    width: calc(100% - 60px);
    left: 60px;
  }
}

@media (max-width: 1200px) and (min-width: 992px) {
  .hero {
    width: calc(100% - 44px);
    left: 44px;
    padding-right: 88px;
    padding-left: 44px;
  }
  .hero figure {
    width: calc(100% - 44px);
    left: 44px;
  }
}

@media (max-width: 992px) and (min-width: 786px) {
  .hero {
    width: calc(100% - 32px);
    left: 32px;
    padding-right: 64px;
    padding-left: 32px;
  }
  .hero figure {
    width: calc(100% - 32px);
    left: 32px;
  }
}

@media (max-width: 786px) and (min-width: 576px) {
  .hero {
    width: calc(100% - 24px);
    left: 24px;
    padding-right: 48px;
    padding-left: 24px;
  }
  .hero figure {
    width: calc(100% - 24px);
    left: 24px;
  }
}

@media (max-width: 576px) {
  .hero {
    width: calc(100% - 16px);
    left: 16px;
    padding: 20px 32px 32px 16px;
    margin-bottom: 200px;
  }
  .hero .hero-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 20px;
  }
  .hero .hero-text h1 {
    font-size: 32px;
    line-height: 1.1;
    letter-spacing: -2%;
    width: 100%;
  }
  .hero .hero-text .button {
    width: 140px;
    height: 40px;
  }
  .hero .hero-text .button span {
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.28px;
    padding: 10px;
  }
  .hero .hero-text .button img {
    padding: 12px;
  }
  .hero figure {
    width: calc(100% - 16px);
    left: 16px;
    height: 190px;
  }
}

.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news .news-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news .news-container img {
  width: 100%;
}

.news .news-container h2 {
  font-size: 24px;
  color: #003A92;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  letter-spacing: 1.2px;
  line-height: 24px;
}

.news .news-container .single-news {
  padding: 40px;
  margin: 50px 0;
  border: 1px solid #ffffff;
}

.news .news-container .single-news figcaption {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin: 16px 1px 0 0;
  font-family: GalaxieCopernicus;
  font-size: 44px;
  line-height: 1.2;
  letter-spacing: -0.88px;
  text-align: left;
  color: #3c3c3c;
}

.news .news-container .view-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.news .news-container .view-more a {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.36px;
  color: #3C3C3C;
}

.news .news-container .view-more img {
  margin-top: 4px;
}

.news .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  margin: 14px 0;
  color: #74788A;
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.7px;
}

.news .grid-news {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (2)[1fr];
      grid-template-columns: repeat(1fr, 2);
  -ms-grid-rows: (2)[1fr];
      grid-template-rows: repeat(1fr, 2);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.news .grid-news .card {
  padding: 40px;
  border: 1px solid #ffffff;
}

.news .grid-news .card figcaption {
  font-family: GalaxieCopernicus;
  letter-spacing: -0.64px;
  text-align: left;
  color: #3C3C3C;
}

.news .grid-news .div1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 2 / 3;
}

.news .grid-news .div1 figcaption {
  margin: 16px 53px 0 0;
  font-size: 32px;
  line-height: 1.2;
}

.news .grid-news .div2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 3 / 2;
}

.news .grid-news .div2 figcaption {
  font-size: 18px;
  line-height: 1.4;
}

.news .grid-news .div3 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
}

.news .grid-news .div3 figcaption {
  font-size: 18px;
  line-height: 1.4;
}

@media (min-width: 1680px) {
  .news {
    padding-right: 240px;
    padding-left: 240px;
  }
}

@media (max-width: 1680px) and (min-width: 1200px) {
  .news {
    padding-right: 120px;
    padding-left: 120px;
  }
}

@media (max-width: 1200px) and (min-width: 992px) {
  .news {
    padding-right: 88px;
    padding-left: 88px;
  }
}

@media (max-width: 992px) and (min-width: 786px) {
  .news {
    padding-right: 64px;
    padding-left: 64px;
  }
}

@media (max-width: 786px) and (min-width: 576px) {
  .news {
    padding-right: 48px;
    padding-left: 48px;
  }
}

@media (max-width: 576px) {
  .news {
    padding: 16px 0 16px 32px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news .news-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 16px 0;
    overflow-x: scroll;
  }
  .news .news-container .card {
    padding: 16px;
    margin: 0;
    min-width: 256px;
  }
  .news .news-container .card figure img {
    height: 140px;
    width: 100%;
    width: 224px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .news .news-container .card figcaption {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.4px;
    margin: 0;
  }
  .news .news-container .date {
    font-size: 10px;
  }
  .news .grid-news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.mission {
  padding: 60px 60px 60px 0;
  position: relative;
  margin-bottom: -300px;
}

.mission .mission-text {
  background-color: #8c2531;
  padding: 60px 120px 26% 120px;
  color: #ffffff;
  font-family: 'GalaxieCopernicus', sans-serif;
  line-height: 1.2;
  letter-spacing: -0.88px;
}

.mission .mission-text span {
  text-transform: uppercase;
  font-family: 'Inter', sans-serif;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 1.2px;
}

.mission .mission-text h2 {
  max-width: 780px;
  margin: 32px 0 20px;
  font-size: 44px;
}

.mission .mission-text p {
  margin: 20px 210px 0 0;
  line-height: 1.4;
  font-size: 18px;
  max-width: 780px;
  opacity: .8;
}

.mission .mission-image {
  position: relative;
  top: -300px;
}

.mission .mission-image img {
  width: 100%;
}

@media (min-width: 1680px) {
  .mission {
    padding-right: 120px;
  }
  .mission .mission-text {
    padding-right: 240px;
    padding-left: 240px;
  }
  .mission .mission-image {
    width: calc(100% - 120px);
  }
}

@media (max-width: 1680px) and (min-width: 1200px) {
  .mission {
    padding-right: 60px;
  }
  .mission .mission-text {
    padding-right: 120px;
    padding-left: 120px;
  }
  .mission .mission-image {
    width: calc(100% - 60px);
  }
}

@media (max-width: 1200px) and (min-width: 992px) {
  .mission {
    padding-right: 44px;
  }
  .mission .mission-text {
    padding-right: 88px;
    padding-left: 88px;
  }
  .mission .mission-image {
    width: calc(100% - 44px);
  }
}

@media (max-width: 992px) and (min-width: 786px) {
  .mission {
    padding-right: 32px;
  }
  .mission .mission-text {
    padding-right: 64px;
    padding-left: 64px;
  }
  .mission .mission-image {
    width: calc(100% - 32px);
  }
}

@media (max-width: 786px) and (min-width: 576px) {
  .mission {
    padding-right: 24px;
  }
  .mission .mission-text {
    padding-right: 48px;
    padding-left: 48px;
  }
  .mission .mission-image {
    width: calc(100% - 24px);
  }
}

@media (max-width: 576px) {
  .mission {
    padding: 16px 16px 16px 0;
    position: relative;
    margin-bottom: -60px;
  }
  .mission .mission-text {
    padding: 16px 32px 26% 32px;
  }
  .mission .mission-text h2 {
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: -0.48px;
  }
  .mission .mission-text p {
    margin: 0;
  }
  .mission .mission-image {
    top: -60px;
    width: calc(100% - 16px);
  }
  .mission .mission-image img {
    height: 192px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.beneficiaries {
  padding: 80px 0 80px 120px;
  background-color: #ffffff;
}

.beneficiaries h2 {
  text-transform: uppercase;
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 1.2px;
  text-align: left;
  color: #003a92;
  margin-bottom: 30px;
}

.beneficiaries .card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.beneficiaries .card-wrapper .card {
  width: auto;
  height: 497px;
  padding: 30px;
}

.beneficiaries .card-wrapper .card:nth-child(1) {
  padding-left: 0;
}

.beneficiaries .card-wrapper .card:last-child {
  padding: 30px 0 30px 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.beneficiaries .card-wrapper .card:last-child img {
  height: 500px;
}

.beneficiaries .card-wrapper .card figcaption {
  margin: 20px 0 0;
  font-family: GalaxieCopernicus;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: -0.18px;
  color: #3C3C3C;
  max-width: 295px;
}

@media (min-width: 1680px) {
  .beneficiaries {
    padding-left: 240px;
  }
}

@media (max-width: 1680px) and (min-width: 1200px) {
  .beneficiaries {
    padding-left: 120px;
  }
}

@media (max-width: 1200px) and (min-width: 992px) {
  .beneficiaries {
    padding-left: 88px;
  }
}

@media (max-width: 992px) and (min-width: 786px) {
  .beneficiaries {
    padding-left: 64px;
  }
}

@media (max-width: 786px) and (min-width: 576px) {
  .beneficiaries {
    padding-left: 48px;
  }
}

@media (max-width: 576px) {
  .beneficiaries {
    margin-top: 30px;
    padding: 24px 0 24px 32px;
  }
  .beneficiaries h2 {
    font-size: 14px;
  }
  .beneficiaries .card-wrapper {
    overflow-x: scroll;
  }
  .beneficiaries .card-wrapper .card {
    padding: 16px;
  }
  .beneficiaries .card-wrapper .card figure img {
    min-width: 202px;
  }
  .beneficiaries .card-wrapper .card figure figcaption {
    font-size: 14px;
  }
  .beneficiaries .card-wrapper .card:last-child img {
    min-width: 60px;
    height: 360px;
  }
}

.founder {
  background-color: #ffffff;
  position: relative;
}

.founder .founder-text {
  background-color: #d7c3ae;
  padding: 80px 120px 22% 120px;
  text-transform: uppercase;
  color: #ffffff;
}

.founder .founder-img {
  margin-top: -350px;
  padding: 60px 60px 0 60px;
}

.founder .founder-img figure {
  position: relative;
}

.founder .founder-img figure figcaption {
  position: absolute;
  font-family: GalaxieCopernicus;
  font-size: 44px;
  line-height: 1.2;
  letter-spacing: -0.88px;
  text-align: left;
  color: #fff;
  bottom: 8%;
  width: 100%;
  padding: 60px;
}

.founder .founder-img figure figcaption hr {
  height: 1px;
  opacity: .5;
  background-color: #f2efee;
  margin: 20px 0;
}

.founder .founder-img .mobile-founder-img {
  display: none;
}

@media (min-width: 1680px) {
  .founder .founder-text {
    padding-right: 240px;
    padding-left: 240px;
  }
  .founder .founder-img {
    padding-right: 120px;
    padding-left: 120px;
  }
}

@media (max-width: 1680px) and (min-width: 1200px) {
  .founder .founder-text {
    padding-right: 120px;
    padding-left: 120px;
  }
  .founder .founder-img {
    padding-right: 60px;
    padding-left: 60px;
  }
}

@media (max-width: 1200px) and (min-width: 992px) {
  .founder .founder-text {
    padding-right: 88px;
    padding-left: 88px;
  }
  .founder .founder-img {
    padding-right: 44px;
    padding-left: 44px;
  }
}

@media (max-width: 992px) and (min-width: 786px) {
  .founder .founder-text {
    padding-right: 64px;
    padding-left: 64px;
  }
  .founder .founder-img {
    padding-right: 32px;
    padding-left: 32px;
  }
}

@media (max-width: 786px) and (min-width: 576px) {
  .founder .founder-text {
    padding-right: 48px;
    padding-left: 48px;
  }
  .founder .founder-img {
    padding-right: 24px;
    padding-left: 24px;
  }
}

@media (max-width: 576px) {
  .founder .founder-text {
    padding: 32px;
    padding-bottom: 64px;
  }
  .founder .founder-text h2 {
    font-size: 14px;
  }
  .founder .founder-img {
    padding: 0 32px 32px 32px;
    margin-top: -40px;
  }
  .founder .founder-img figure img {
    height: 175px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .founder .founder-img figure figcaption {
    font-size: 24px;
    padding: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    bottom: 0;
  }
  .founder .founder-img figure figcaption hr {
    display: none;
  }
  .founder .founder-img figure figcaption span:first-child {
    position: relative;
    top: 120px;
  }
  .founder .founder-img .mobile-founder-img {
    display: block;
  }
}

.gallery {
  padding: 60px 120px;
  background-color: #ffffff;
}

.gallery .img-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (3)[1fr];
      grid-template-columns: repeat(1fr, 3);
  -ms-grid-rows: (3)[1fr];
      grid-template-rows: repeat(1fr, 3);
}

.gallery .img-wrapper .card {
  padding: 40px;
  border: solid 1px #f2efee;
}

.gallery .img-wrapper .card img {
  width: 100%;
}

.gallery .img-wrapper .card figcaption {
  margin: 12px 0 0;
  font-family: Inter, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.28px;
  color: #74788A;
}

.gallery .img-wrapper .div1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
  padding-bottom: 60px;
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 1.2px;
  color: #003A92;
}

.gallery .img-wrapper .div2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 4 / 2;
  margin-bottom: 44px;
}

.gallery .img-wrapper .div3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 4 / 3;
}

.gallery .img-wrapper .div4 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1 / 3 / 3 / 4;
}

.gallery .img-wrapper .div5 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 3 / 3 / 4 / 4;
}

@media (max-width: 1920px) and (min-width: 1680px) {
  .gallery {
    padding-left: 240px;
    padding-right: 240px;
  }
}

@media (max-width: 1680px) and (min-width: 1200px) {
  .gallery {
    padding-left: 120px;
    padding-right: 120px;
  }
}

@media (max-width: 1200px) and (min-width: 992px) {
  .gallery {
    padding-left: 88px;
    padding-right: 88px;
  }
}

@media (max-width: 992px) and (min-width: 786px) {
  .gallery {
    padding-left: 64px;
    padding-right: 64px;
  }
}

@media (max-width: 786px) and (min-width: 576px) {
  .gallery {
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media (max-width: 576px) {
  .gallery {
    padding: 32px 0 32px 32px;
    position: relative;
  }
  .gallery .img-wrapper {
    margin-top: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: scroll;
  }
  .gallery .img-wrapper .div1 {
    position: absolute;
    top: 32px;
    left: 32px;
  }
  .gallery .img-wrapper .div1 h2 {
    font-size: 14px;
  }
  .gallery .img-wrapper .card {
    padding: 16px;
    min-width: 256px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

footer {
  background-color: #3C3C3C;
  padding: 60px 120px 30px;
}

footer hr {
  border: 1px solid #74788A;
  outline: none;
  opacity: .5;
  margin: 20px 0;
}

footer .footer-logo {
  height: 200px;
}

footer .footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
  padding-bottom: 50px;
}

footer .footer-link .quick-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-link ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .footer-link ul li a {
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.28px;
}

footer .footer-link .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

footer .footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #74788A;
  margin-top: 80px;
  margin-bottom: 10px;
}

footer .footer-bottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

footer .footer-bottom ul li a {
  color: #74788A;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.28px;
}

@media (min-width: 1680px) {
  footer {
    padding-right: 240px;
    padding-left: 240px;
  }
}

@media (max-width: 1680px) and (min-width: 1200px) {
  footer {
    padding-right: 120px;
    padding-left: 120px;
  }
}

@media (max-width: 1200px) and (min-width: 992px) {
  footer {
    padding-right: 88px;
    padding-left: 88px;
  }
}

@media (max-width: 992px) and (min-width: 786px) {
  footer {
    padding-right: 64px;
    padding-left: 64px;
  }
}

@media (max-width: 786px) and (min-width: 576px) {
  footer {
    padding-right: 48px;
    padding-left: 48px;
  }
}

@media (max-width: 576px) {
  footer {
    padding: 58px 32px 32px 32px;
    position: relative;
  }
  footer .footer-link {
    gap: 85px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  footer .footer-link .quick-link {
    gap: 85px;
  }
  footer .footer-link ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-link .social-icons {
    position: absolute;
    right: 32px;
    top: 64px;
  }
  footer .footer-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 32px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  footer .footer-bottom ul {
    gap: 20px;
  }
  footer .footer-bottom .copyright {
    padding-left: 8px;
    font-size: 12px;
  }
}
/*# sourceMappingURL=main.css.map */